<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://drive.casks.me/api/v3/file/source/1234/3.2.ipa?sign=9f6GhbZjLuNG7HtEYjxTOxCwguDmxSzNN1IZIRFfY3U%3D%3A0</string>
                    </dict>
                  <dict>
                <key>kind</key>
                <string>display-image</string>
                <key>needs-shine</key>
                <true/>
                <key>url</key>
                <string>https://raw.githubusercontent.com/Thomas20090425/tlspecialinstallation/main/59F697A2-EF36-4A28-B4B3-DD3A1EC9E873.jpeg</string>
                </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.xlpmy.tlcn</string>
                    <key>bundle-version</key>
                    <string>3.2 Tianl</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>你在下载3.2.0呀哥哥～只能连接B服的那种～</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
