<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://drive.casks.me/api/v3/file/source/1235/3.3.ipa?sign=8QwbI8zR9PQpxVj9f9M8XGYNatAiAMxW6P3N2GMG1OQ%3D%3A0</string>
                    </dict>
                  <dict>
                <key>kind</key>
                <string>display-image</string>
                <key>needs-shine</key>
                <true/>
                <key>url</key>
                <string>https://raw.githubusercontent.com/Thomas20090425/tlcqsigned/main/IMG_0361.jpg</string>
                </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.xlpmy.sifu</string>
                    <key>bundle-version</key>
                    <string>3.3 Tianl</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>哥哥您在下载3.3.0呀，只能连指令服的那种哦～</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
