<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://drive.casks.me/api/v3/file/source/1241/cnrel33.ipa?sign=TZzZWfHNPKZ8xyhEjKMUmHtPpWHjSyAlYhHlllS5Vxs%3D%3A0</string>
                    </dict>
                  <dict>
                <key>kind</key>
                <string>display-image</string>
                <key>needs-shine</key>
                <true/>
                <key>url</key>
                <string>https://raw.githubusercontent.com/Thomas20090425/tlspecialinstallation/main/1D413D73-E8F6-4D68-9017-7FAE30C519A6.jpeg</string>
                </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.wanzi.classroom</string>
                    <key>bundle-version</key>
                    <string>Classroom</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>丸子的特制Google Classroom</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
